#title{
  font-family: Monospace;
  width: 500px;
  color: #076585;
  
  
}

#tit{
  margin-top: 10px;
  font-family: Monospace;
  width: 500px;
  color: #076585;
}
#tag{
  width: 500px;
  color: #076585;
  font-family: Monospace;
}
#aboutus{
  font-family: Serif;
  color: #1488cc;
}

.contact-button {
    text-decoration: none;
}

.contact-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.contact-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h2 {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}


.team-button{
  text-decoration: none;
  
}
.team-card{
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px;
  rgba(0,0,0,0.1)
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  transition: transform 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
  cursor: pointer;

}
.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px;
  rgba(0,0,0,0.2)
  
}
  
.team-image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
h2{
  font-size: 24px;
  color: black;
  font-weight: bold;
}
p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
